.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;

  &__line {
    display: grid;
    grid-template-columns: 100px 1fr auto auto auto;
    align-items: center;
    width: 100%;
    max-height: 300px;
    margin: .5rem;
    padding: 1rem;
    border: 1px solid $primary-blue;
    border-radius: $border-radius;
  }

  &__line-image-wrapper {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: $border-radius;
    background-color: $primary-white;
  }

  &__line-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  &__line-name {
    font-weight: $font-weight-light;
  }

  &__line-price {
    margin-right: 1rem;
    font-weight: bold;
    color: $primary-blue;
  }

  &__total-cost {
    align-self: end;
    font-size: $font-medium;
    font-weight: bold;
  }

  &__title {
    align-self: start;
    margin: 10px;
    font-size: $font-large;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__line-quantity {
    width: 40px;
    padding: 0.4rem;
    border-radius: $border-radius;
    text-align: center;
    outline: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      appearance: none;
    }
  }

  &__line-remove-button {
    width: 35px;
    height: 35px;
    margin-left: 20px;
  }
}
