.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  border: 1px solid $primary-blue;

  &__line {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    max-height: 300px;
    margin: .5rem;
    padding: 1rem;
    border: 1px solid $primary-blue;
    border-radius: 10px;
  }

  &__line-image-wrapper {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid $primary-blue;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  &__line-image {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid $primary-blue;
    object-fit: contain;
  }

  &__line-name {
    border: 1px solid $primary-blue;
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__line-price {
    margin-right: 2rem;
    border: 1px solid $primary-blue;
    font-size: 1.2rem;
    font-weight: bold;
    color: $primary-blue;
  }
}
