$header-bg-color: #121214;
$footer-bg-color: #121214;
$link-text-color: #fff;
$link-border-color: #fff;
$link-text-color-hover: #49d0ff;
$link-border-color-hover: #49d0ff;
$btn-back-text-color: #49d0ff;
$btn-back-border-color: #49d0ff;
$btn-back-text-color-hover: #fff;
$btn-back-bg-color-hover: #49d0ff;
$title-color: #fff;
$description-color: #8c8f96;
$form-border-color: #e9eaee;
$title-color: #303030;
$input-bg-color: #f9f9f9;
$input-text-label-color: #3c3d44;
$input-text-color: #424347;
$input-error-text-color: #f00;
$form-btn-bg-color: #121214;
$form-btn-bg-color-hover: #00bdff;
$form-btn-text-color: #fff;
$border-radius-base: 5px;
$transition-base: 0.3s ease-in-out;
$blue: #49d0ff;
$btn-background-color: #121214;
$btn-color: #fff;
$btn-color-hover: #49d0ff;
$box-shadow: 0 0 10px #8c8f96;
$border-radius: 10px;
$font-small: 1em;
$font-medium: 1.5em;
$font-large: 2em;
$tablet: 768px;
$mobile: 500px;
$laptop: 1024px;
