$header-bg-color: #121214;
$footer-bg-color: #121214;
$link-text-color: #fff;
$link-border-color: #fff;
$link-text-color-hover: #49d0ff;
$link-border-color-hover: #49d0ff;
$title-color: #fff;
$discription-color: #8c8f96;

