.button-back {
  display: block;
  max-width: 120px;
  padding: 10px 20px;
  border: 1px solid $link-border-color-hover;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.3;
  color: $link-text-color-hover;
  text-align: center;
  transition: background-color .3s ease-in-out,
  color .3s ease-in-out;

  &:hover {
    color: $link-text-color;
    background-color: $link-text-color-hover;
  }
}