.button-back {
  display: block;
  max-width: 120px;
  padding: 10px 20px;
  border: 1px solid $btn-back-border-color;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.3;
  color: $btn-back-text-color;
  text-align: center;
  transition:
    background-color $transition-base,
    color $transition-base;

  &:hover {
    color: $btn-back-text-color-hover;
    background-color: $btn-back-bg-color-hover;
  }
}
