.main {
  width: 100%;

  .container {
    padding: 0;
  }
}

.section {
  width: 100%;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  background-color: $blue;
  background-clip: padding-box;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    width: 40%;
  }

  &__heading {
    font-size: $font-large;
  }

  &__text {
    font-size: $font-medium;
  }

  &__btn {
    @include button-style($btn-background-color, $btn-color, $border-radius);
  }

  &__round {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: $blue;
    box-shadow: $box-shadow;
  }

  &__img {
    position: absolute;
    right: -55px;
    width: 135%;
  }
}

.about {
  height: auto;

  &__heading {
    margin: 20px 0;
    padding: 0 10px;
    font-size: $font-large;
    text-align: center;
  }

  &__content {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 100%;
    padding: 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 30%;
    min-width: 300px;
  }

  &__img {
    width: 150px;
    height: 150px;
    background: no-repeat center / contain;
  }

  &__title,
  &__text {
    font-size: $font-medium;
  }

  &__title {
    color: $blue;
  }

  &__text {
    text-align: center;
  }
}

@media (max-width: $laptop) {
  .about__content {
    flex-wrap: wrap;
  }
}

@media (max-width: $tablet) {
  .banner {
    &__wrapper {
      width: 80%;
    }

    &__round {
      display: none;
    }
  }
}

@media (max-width: $mobile) {
  .banner__btn {
    padding: 5px;
  }
}
