.footer {
  padding: 15px 0;
  background-color: $footer-bg-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    max-width: 300px;
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.3;
    color: $title-color;
  }

  &__txt {
    margin: 0;
    font-size: 14px;
    line-height: 1.3;
    color: $discription-color;
  }

  &__list-social {
    display: flex;
    column-gap: 15px;
  }

  &__item-image {
    padding: 5px;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }

  &__list {
    display: flex;
    column-gap: 40px;
  }

  &__item-link {
    font-size: 20px;
    line-height: 1.3;
    color: $link-text-color;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $link-text-color-hover;
    }
  }
}
