.footer {
  padding: 15px 0;
  background-color: $black;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__dscr {
  max-width: 300px;
}

.footer__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.3;
  color: $white;
}

.footer__txt {
  margin: 0;
  font-size: 14px;
  line-height: 1.3;
  color: $light-gray;
}

.footer__list-social {
  display: flex;
  column-gap: 15px;
}

.footer__item-image {
  padding: 5px;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.footer__list {
  display: flex;
  column-gap: 40px;
}

.footer__item-link {
  font-size: 20px;
  line-height: 1.3;
  color: $white;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $blue;
  }
}
