.profile__address {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 30px;

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 450px;
    padding: 60px 30px;
    border: 1px solid $form-border-color;
    border-radius: $border-radius-base;
  }

  &-title {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border-bottom: 1px solid $form-border-color;
    border-left: 1px solid $form-border-color;
    border-bottom-left-radius: $border-radius-base;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    color: $title-color;
    background-color: $bg-title;
  }

  &-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-label {
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    line-height: 1.3;
    color: $title-color;
  }

  &-value {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    color: $title-color;
  }
}

@media (max-width: $laptop) {
  .profile__address {
    padding: 0 15px;
  }
}

@media (max-width: $tablet) {
  .profile__address {
    &-wrapper {
      margin-bottom: 20px;
    }

    &-item {
      padding: 80px 15px 30px;
    }

    &-title {
      width: 100%;
      border-left: none;
      border-bottom-right-radius: $border-radius-base;
    }
  }
}

@media (max-width: $mobile) {
  .profile__address {
    padding: 0;

    &-wrapper {
      margin-bottom: 20px;
    }

    &-item {
      padding: 60px 10px 20px;
    }
  }
}
